{% include "header.html" %}
{% include "flash.html" %}
<html>
  <body>

<div class="container">
	<div class="box">
<div class="list-title">
  			<h1>Local Children's Events Page</h1>
  			<a href="{{url_for('newCategory')}}" > <h3> Create a New Event </h3> </a>

  		</div>
      <div>
       {% for i in category %}

<a href = "{{url_for('itemsMenu', category_id = i.id)}}"> <p>{{i.name}}</p></a>   


{% endfor %}

      </div>
      <!--adding div from box here-->
  </div>
  </div>
</body>
</html>