<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<!--	
<div class="flex-container nowrap">
	<div class="top">
        <a href="{{url_for('showCatalog')}}">ItemCatalog</a>
    </div>
		<div class="login">
					{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">Click Here to Login </a>
			{% else %}
			<a href="{{url_for('disconnect')}}">Logout </a>
			{% endif %}
		</div>
	</div>
-->
<ul class="nav">
	<li class="home"><button><a href="{{url_for('showCatalog')}}">ItemCatalog</a></button></li>
	<li class="login"><button>
		{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">Click Here to Login </a>
			{% else %}
			<a href="{{url_for('disconnect')}}">Logout </a>
			{% endif %}
	</li>
	</button>		
    </ul>
</body>
</html>	