<html>
    <body>
    	{% include "header.html" %}
    	<div>
    	<h1>{{ category.name }}</h1>
        {% if items !=[] %}
<a href = '{{url_for('newCategoryItem', category_id = category.id)}}'>Create New Item</a>
        <div>
        {% for i in items %}
          <p><h3> {{i.name}} </h3></p>
		  <p>{{i.description}}</p>
          <a href='{{url_for('editCategoryItem', category_id=category.id, item_id=i.id)}}'>Edit</a>
      </br>
      <a href='{{url_for('deleteCategoryItem', category_id=category.id, item_id=i.id)}}'>Delete</a>
      </br>
    {% endfor %}
    </div>
{% else %}
<p> You currently have no menu items. <p>
  <a href = '{{url_for('newCategoryItem', category_id = category.id)}}'>Create New Item</a>
{% endif %}

</div>
    </body>

</html>    